# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
/[Pp]latforms/



*.suo
#过滤数据库文件、sln解决方案文件、配置文件
*.mdb
*.ldb
#*.sln
#*.config
.datasource
.pdb
.user
.cache
#过滤文件夹Debug,Release,obj
obj/
bin/
Debug/
Release/

*/obj/
*/bin/
*/Debug/
*/Release/